@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'burtons';
  src: url("../public/Burtons.otf");
}

canvas {
  height: 300px;
}

@layer components {
  .hero-btn {
    @apply px-3 py-2 border-[#0b0b0b] rounded-full uppercase text-xs md:text-sm tracking-widest text-white transition-all hover:border-gray-500 hover:text-gray-500
  }
}